<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">
                <img src="./assets/images/logo.jpg"
                     class="img-responsive center-block"
                     style="max-height:250px;padding-bottom:5px" />

            </div>
            <!-- PRODUCT IMAGES HERE DOWN BELOW-->

            <div class="container">
                <div class="row">
                
                    <img src="./assets/images/garden_cart.png"
                    class="col"
                    style="max-height:100px;padding-bottom:5px"/>
                
                    <img src="./assets/images/hammer.png"
                        class="col"
                        style="max-height:100px;padding-bottom:5px"
                    />
                    <img src="./assets/images/leaf_rake.png"
                        class="col"
                        style="max-height:100px;padding-bottom:5px"
                    />
                    <img src="./assets/images/saw.png"
                        class="col"
                        style="max-height:100px;padding-bottom:5px"
                    />
                
                    <img src="./assets/images/xbox-controller.png"
                        class="col"
                        style="max-height:100px;padding-bottom:5px"
                    />
                </div>
                
            </div>
            <!-- PRODUCT IMAGES HERE ABOVE-->

            <div class="text-center">Developed by: <h3>Chetan Patel</h3></div>
            <div class="text-center"></div>

            <div class="text-center"></div>
            <div class="text-center">
                <a href="https://github.com/CaptainQuickWit/ProductListApp-Angular">Github Repository</a>
            </div>
        </div>
    </div>
</div>



